{
  "globals": {
    "describe": true,
    "before": true,
    "after": true,
    "beforeEach": true,
    "afterEach": true,
    "context": true,
    "it": true,
    "test": true,
    "expect": true,
    "jest": true,
    "beforeAll": true,
    "afterAll": true
  },
  "plugins": ["react", "jest"],
  "extends": ["airbnb", "plugin:jest/recommended"],
  "rules": {
    "react/prop-types": [1, { "ignore": ["children"] }],
    "react/sort-prop-types": 2,
    "react/jsx-sort-props": 0,
    "max-len": [2, 120, 2, { "ignoreComments": true }]
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  }
}
