{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:jest/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "requireConfigFile": true
  },
  "plugins": ["react", "jest", "import"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": ["warn", { "ignore": ["children"] }],
    "react/sort-prop-types": "error",
    "react/jsx-sort-props": "off",
    "react/jsx-uses-vars": "error",
    "react/no-unused-prop-types": "warn",
    "max-len": ["error", { "code": 120, "ignoreComments": true }],
    "no-unused-vars": "off",
    "import/order": "off",
    "react/no-deprecated": "off"
  },
  "settings": {
    "react": {
      "version": "17.0"
    },
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  }
}
