name: Validate PR for Bahmni Form Controls

on:
  pull_request:
    branches: [master]
    types: [opened, synchronize, reopened]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v3
      - name: Set up Node JS v18.x
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          registry-url: "https://registry.npmjs.org"
      - run: npm cache clean --force
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y automake autoconf libtool pkg-config nasm libpng-dev
      - name: npm install
        run: npm install --legacy-peer-deps
      - name: npm test
        run: npm test
